/* Header, footer */
header,
footer {
  background-color: #38b6ff;
}
/* Navbar */

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
}
.nav-link,
.dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
nav li {
  padding: 0 18px;
}
nav li.active,
nav li.active:before {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
/* CUSTOMIZE CAROUSEL */

/* indicators */
ol.carousel-indicators li.active {
  background-color: rgba(45, 146, 204, 1);
}

ol.carousel-indicators li {
  background-color: rgba(45, 146, 204, 0.6);
}

/* carousel-control (prev/next) */
.carousel a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(70%);
}

.carousel a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Social icons */
i {
  color: #fff;
  padding: 0 12px;
}
